html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: rgb(126, 175, 182);
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: rgb(37, 43, 58);
}

.container-wrapper {
    display: flex; /* exibe os containers em linha */
    justify-content: center; /* centraliza horizontalmente */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    width: 500px; /* largura do container */
    height: auto; /* altura do container */
    background-color:#bababa; /* cor de fundo do container */
    margin: 0 100px; /* margem horizontal para espaçamento entre os containers */
    padding: 20px; /* espaçamento interno */ 
    border-radius: 5px;
}
.content {
    min-height: calc(100% - 50px);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

 /* Estilos CSS para o menu */
 .menu {
    display: none; /* oculta o menu por padrão */
}

.menu.active {
    display: block; /* exibe o menu quando ativado */
}

/* Estilos CSS para o botão de expansão */
.menu-button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #8c8c8c;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

nav{
    flex: 1 1 100vw;
    background-color: #a1a1a1;
    align-items: center;
    justify-content: flex-end;
}