@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, nav, main, aside, footer { /*Propriedades em comum agrupadas*/
    display: flex;
    margin: 3px;
}

header {
    margin: 0;
    flex: 1 1 100vw;
    background-color: #6CD9D3;
    height: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

header > #logo {
    display: flex;
    flex: 0 1 200px;
    height: 100px;
    background-color: #6CD9D3;
    text-decoration: none;
    color: inherit;
    align-items: center;
    justify-content: center;

}


#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;

}

nav {
    flex: 1 1 100vw;
    background-color: #6CD9D3;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

nav > a {
    margin: 20px;
    justify-content: center;
    font-size: 20px;
    transition-duration: .2s;

}

nav > a:hover {
    color: rgb(151, 92, 3);
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
    background-color: #ffffff;

}

main {
    display: block;
    flex: 20 1 500px;
    background-color: #ffffff;
    flex-wrap: wrap;
    min-height: calc(100vh - 224px);
    margin-left: 10%;
}

.main-title {
    text-align: start;
    margin: 2%;;
}

.section-container {
    margin: 3px;
    padding: 3%;
}

.section-title {
    font-size: 18px;    
    margin: 3px;
    text-align: start; 
}

.section-content {    
    margin: 3px;
    padding: 3px;    
    display: inline-flex;
    justify-content: start;
}

.cat-card {
    margin: 10px;
    background-color: #a1a1a15d;
    border-radius: 1.25rem;
    width: 200px;
    height: 300px;
    background-color: #6cd9d460;
}



aside { 
    flex: 1 1 200px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-left: 3px solid #6cd9d460; /*linha de separação com o 'main'*/  
    margin-right: 10%;  
}

footer {
    margin: 0;
    flex: 1 1 100vw;
    background-color: #6CD9D3;
    min-height: 200px;
    align-items: center;
    justify-content: center;
}

.elipse-btn {
    background-color: #fff;
    border-radius: 4rem;
    min-width: 10.25rem ;
    height: 3.75rem;
    border-width: 0;
    color: black;
    transition-duration: .3s;
    font-size: 20px;

}

.elipse-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #048a83;
    cursor: pointer

}

.elipse-btn-dark {
    background-color: #200e03;
    color: #ffffff;
    border-radius: 4rem;
    min-width: 10.25rem ;
    height: 3.75rem;
    border-width: 0;
    transition-duration: .3s;
    font-size: 20px;
}

.elipse-btn-dark:hover {
    background-color: rgba(126, 50, 4, 0.8);
    cursor: pointer;
}

@media only screen and (max-width: 923px){ /*implementando regra de dimensões para quando  main e aside não couberem na mesma linha*/
    main {
        height: auto;
        margin-left: 0;
    }
    aside {
        flex: 1 1 100vw;
        height: 100px;
        border-top: 3px solid #6cd9d460; /*linha de separação com o 'main'*/
        border-left: none;
        margin-right: 0;
    }
}

@media only screen and (max-width: 880px){ /*implementando regra para recolher menu quando não couber na tela*/
    #openMenu, #closeMenu{
        display: block;

    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: #009E9E;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    nav a:hover{
        color: #000;
    }
}


@media only screen and (max-width: 700px){
    .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}